agno
python-dotenv
groq
typer
sqlalchemy
psycopg
pgvector
pypdf
sentence-transformers
openai
streamlit
google-generativeai
phidata
duckduckgo-search
google-genai
ddgs
langgraph
langchain
langchain_community
langchainhub
langchain_groq